.error {
    color: #a94442;
}

div.bet-alert {
    display: none;
}

body {
    padding-bottom: 10px;
}

.progress {
    margin-bottom: 0 !important;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-brand {
    padding: 0 15px !important;
}

.navbar-brand img.logo_valtech {
    width: 140px;
}

.navbar {
    border-radius: 0 !important;
}

img.avatar {
    height: 75px;
    width: 75px;
}

.navbar-inverse {
    border-bottom: 6px #009cda solid !important;
}

.dropdown-menu {
    background-color: #222 !important;
    border-color: #080808 !important;
}
.dropdown-menu li a {
    color: #999 !important;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: #fff !important;
    background: #222 !important;
}
.dropdown-menu li:hover {
    background: #222 !important;
}
.dropdown-menu .divider {
    background: #696969 !important;
}

.btn.btn-blue {
    color: #fff;
    background: #009cda;
    border: 1px solid #0976da;
}

.btn.btn-blue:hover {
    color: #fff;
    background: #0c84da;
}

.table-responsive {
    border: none !important;
}