.waiting {
	display: block;
	z-index: 1002;
	text-align: center;
	outline: 0px;
	top: 50%;
	right: 50%;
	position: absolute;
}

.blue .ui-widget-content .ui-state-default, .blue.ui-widget-content .ui-state-default, .blue .ui-widget-header, .blue .ui-widget-header .ui-state-default {
    background: #99CCFF !important;
    color: black;
}

.blue .ui-state-default, .blue .ui-widget-content .ui-state-default, .blue .ui-widget-header .ui-state-default, .ui-widget-content  {
    border: 1px solid #7E7D81;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: none repeat scroll 0 0 #CCC;
    border: 1px solid #FCEFA1;
    color: #363636;
}
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #000000 !important;
}