.error {
    color: #E40008;
}

div.bet-alert {
    display: none;
}

body {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
}

.progress {
    margin-bottom: 0 !important;
}

