img.user-avatar {
    float: left;
    margin-right: 10px;
}

blockquote#title {
    margin-bottom: 20px;
    height: 95px
}

blockquote#title section {
    margin-top: -20px
}

blockquote#title section h5{
    color :grey;
}