.error{
    text-align: center;
}

#login-block{
    padding-top: 50px;
    padding-bottom: 25px;
}

.login-box{
    max-width:480px;
    background-clip: padding-box;
    padding-bottom: 20px;
}

.login-logo{
    text-align: center;
    padding: 15px 0 10px;
}

.login-logo img{
    border:0;
    width: 100%;
}

.login-form form p{
    width:80%;
    margin: 5px auto 10px;
    text-align: center;
}

.login-box hr{
    margin:10px auto 20px;
    width:70%;
    border-top:1px solid #dddbda;
    border-bottom:1px solid #FFF;
}

.login-form input{
    display: block;
    margin:0 auto 15px;
    width:70%;
    padding: 8px;
}

.btn.btn-blue {
    width: 120px;
    display:block;
    margin: 20px auto 20px;
    color: white;
    text-transform:uppercase ;
    text-shadow: 1px 2px 2px #1371c4;
    background: #009cda;
    border: 1px solid #0976da;
    box-shadow: inset 0 1px 2px #2f9dff;

}

.btn.btn-blue:hover {
    background: #0c84da;
}

.login-links{
    text-align: center;
}

.login-links a{
    color: #6c6c6c;
    display:inline-block;
    padding:5px;
}

.login-links a:hover{
    text-decoration: none;
    color:#009cda;
}