[class^="sp"] {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 11px;
    background-repeat: no-repeat;
    background-size: 25px;
}

/* Voici les positions des logos pour les clubs de la champions league du fichier sprite-logos.png */
.sp-sui {
    background-image: url("../img/logos/sui.png");
}

.sp-alb {
    background-image: url("../img/logos/alb.png");
}

.sp-fra {
    background-image: url("../img/logos/fra.png");
}

.sp-rou {
    background-image: url("../img/logos/rou.png");
}
.sp-gal { background-image: url("../img/logos/gal.png"); }

.sp-rus {
    background-image: url("../img/logos/rus.png");
}

.sp-ang {
    background-image: url("../img/logos/ang.png");
}

.sp-slo {
    background-image: url("../img/logos/slo.png");
}

.sp-all {
    background-image: url("../img/logos/all.png");
}

.sp-iln {
    background-image: url("../img/logos/iln.png");
}

.sp-ukr {
    background-image: url("../img/logos/ukr.png");
}

.sp-pol {
    background-image: url("../img/logos/pol.png");
}

.sp-tur {
    background-image: url("../img/logos/tur.png");
}

.sp-esp {
    background-image: url("../img/logos/esp.png");
}

.sp-cro {
    background-image: url("../img/logos/cro.png");
}

.sp-rtc {
    background-image: url("../img/logos/rtc.png");
}

.sp-ita {
    background-image: url("../img/logos/ita.png");
}

.sp-sue {
    background-image: url("../img/logos/sue.png");
}

.sp-irl {
    background-image: url("../img/logos/irl.png");
}

.sp-bel {
    background-image: url("../img/logos/bel.png");
}

.sp-isl {
    background-image: url("../img/logos/isl.png");
}

.sp-aut {
    background-image: url("../img/logos/aut.png");
}

.sp-por {
    background-image: url("../img/logos/por.png");
}

.sp-hon {
    background-image: url("../img/logos/hon.png");
}