input.bet {
    width: 30px;
}

.form-control {
    display: inline-block !important;
    padding: 0 5px !important;
}

select#dates {
    width: 110px;
    margin-bottom: 10px;
}

.hero-unit {
    text-align: center;
    line-height: 30px;
    color: inherit;
    background-color: #EEEEEE;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

tr.firstLine {
    background-color: #EEEEEE;
}

table#matches tr.firstLine td {
    border-width: 2px;
}

table#matches tr td.score {
    padding: 5px 0;
    min-width: 30px;
    text-align: center;
}

table#matches {
    border-collapse: inherit !important;
}

.flag, .flagM, .bet, .score {
    text-align: center;
}
.opponent1 {
    text-align: right;
}
.opponent2 {
    text-align: left;
}
