section.row div {
    border-bottom: 1px solid #b1b1b1;
    height: 35px;
    width: 200px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}

section.row div.bet {
    border-right: 1px solid #b1b1b1;
}
section.row div.score {
    border-right: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
}