#saveBtn, #cancelBtn, #sendBtn{
    margin-top: 20px;
}

#changePwd{
    margin-top: 15px;
}

.checkboxLavel {
    font-weight: normal !important;
    margin-left: 5px;
}

section#avatar-result {
    margin-bottom: 5px;
}